/* NOTES:
*
*  1) CSS FILE SECTIONING - I have grouped the css code firstly in blocks of sections,
*                           and secondly by classes in HTML FILE and their associated
*                           elements in the order they appear
*
*  2) COLOUR - a) This CSS FILE contains the code necessary for a colourful website (a second
*                 CSS FILE will be made in black and white for those with colour blindness)
*              b) Sticking with the rgb() or rgba() format
*/


/* Ensuring consistency between different web-browsers by
   eliminating any inherited white space*/
*{
    margin: 0px;
    padding: 0px;
    border: 0px;
}


body{
    background-color: rgb(255, 255, 247);
    font-family: "Comic Sans MS", Puritan, Arial, Open-Sans, sans-serif;
    font-size: 1.5em;
    margin: 0px;
    padding: 0px;
    border: 0px;
}

/*--------------------------------------------------------------------------------- Header Section */

header{
    background-image: url(../images/header_background.png);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 157px;
}

#logo{
    height: 50px;
    width: 200px;
    margin: 20px;
}


/*--------------------------------------------------------------------------------- Navigation Section */
nav{
    float: right;
}

nav ul{
    list-style-type: none;
}

nav ul li{
    display: inline-block;
    width: 100px;
    height: 50px;
    text-align: center;
    padding-top: 10px;
    border-left: rgb(0, 0, 0) solid 5px;
    background-color: rgb(255, 255, 255);
    margin: 0px;
}

nav ul li:hover{
    background-color: rgb(146, 209, 130);
    color: white;
}

nav ul li a{
    text-decoration: none;
    color: black;
}

.unselected{
    color: black;
}

.selected{
    background-color: rgb(0, 0, 0);
    color: white;
}

.selected:hover{
    background-color: rgb(0, 0, 0);
}

/*--------------------------------------------------------------------------------- Main Section */

main{
    clear: both;
    min-height: 710px;
}

/*--- below: sticky navigation block --*/
#sticky{
    width: 100%;
    min-height: 60px;
    background-color: rgb(146, 209, 130);
    border: solid rgb(116, 196, 96) 2px;
    border-radius: 5px;
    position: sticky;
    top: 0;
    clear: both;
}

.first ul, .second ul{
    list-style-type: none;
    color: rgb(0, 0, 0);
}

.first ul a, .second ul a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.first li, .second li{
    display: inline-block;
}

.first li{
    float: left;
}

.second li{
    float: right;
}

.button{
    min-width: 100px;
    background-color: rgb(184, 184, 184);
    border: solid rgb(77, 77, 77) 2px;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
    box-shadow: 2px 4px 2px rgba(0, 0, 0, 0.5);
}

.button:hover{
    background-color: rgb(145, 145, 145);
    color: rgb(255, 255, 255);
}

.button:active{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}
/*--- above: sticky navigation block --*/

h1{
    font-size: 2em;
    text-decoration: underline;
    margin: 10px;
}

.topic{
    padding-top: 100px;
    text-align: center;
    min-width: 500px;
    clear: both;
}


.topic img{
    margin-top: 20px;
    width: 80%;
    min-width: 500px;
    max-width: 1000px;
}

.topic p{
    display: inline-block;
    width: 80%;
    max-width: 1000px;
    border-radius: 20px;
    margin-top: 25px;
    padding: 20px;
    border: solid rgb(163, 118, 85) 10px;
    border-left: 0px;
    border-right: 0px;
}


.block{
    padding-top: 100px;
    clear: both;
}

/* .first and .third  is for anything displayed on the left of the screen */
.first, .third{
    float: left;
    width: 50%;  
}

.first img{ 
    float: right;
    margin-top: 50px;
    border: solid rgb(100, 150, 250) 10px;
    border-radius: 40px;
    width: 80%;
    max-width: 640px;
    min-width: 400px;
}

.third img{
    float: right;
    margin-top: 50px;
    border: dashed rgb(255, 191, 94) 10px;
    border-radius: 20px;
    width: 80%;
    max-width: 400px;
    min-width: 200px;
}

.first aside, .third aside{
    float: right;
    max-width: 640px;
}

.first p{
    border: solid rgb(120, 242, 90) 20px;
    border-left: 0px;
    border-right: 0px;
    padding: 10px;
}

.third p{
    border: dashed rgb(69, 56, 255) 20px;
    border-left: 0px;
    border-right: 0px;
    padding: 10px;
}


/* .second and .fourth is for any content to be displayed on the right of the screen */
.second, .fourth{
    float: right;
    width: 45%;
}

.second aside, .fourth aside{
    float: left;
    max-width: 640px;
}

.second p{
    border: solid rgb(245, 76, 76) 20px;
    border-left: 0px;
    border-right: 0px;
    padding: 10px;
}

.fourth p{
    border: dashed rgb(255, 153, 194) 20px;
    border-left: 0px;
    border-right: 0px;
    padding: 10px;
}

.second img{ 
    float: left;
    margin-top: 50px;
    border: solid rgb(218, 99, 242) 10px;
    border-radius: 40px;
    width: 80%;
    max-width: 640px;
    min-width: 400px;
}

.fourth img{
    float: left;
    margin-top: 50px;
    border: dashed rgb(35, 234, 252) 10px;
    border-radius: 40px;
    width: 80%;
    max-width: 500px;
    min-width: 200px;
}


.video{
    margin-top: 60px;
    min-width: 500px;
}

.disclaimer{
    font-size: 0.6em;
    font-style: italic;
}

/*--- below: contact us form --*/
lable{
    width: 112px;
    padding-right: 10px;
    text-align: right;
}


input{
    margin-left: 1em;
    margin-bottom: .5em;
    width: 220px;    
}

input[type="text"], input[type="email"], textarea{
    font-size: 0.7em;
}

input[type="radio"]{
    width: 10px;
}

input[type="checkbox"]{
    width: 20px;
}

.required{
    color: rgb(200, 0, 0);
}
/*--- above: contact us form --*/
/*--------------------------------------------------------------------------------- Footer Section */

footer{
    font-family: Puritan, Arial, Open-Sans, sans-serif;
    min-height: 100px;
    background-color: black;
    clear: both;
    color: white;
    text-align: center;
    padding-top: 10px;
}

footer p{
    font-size: 16px;
}